.type-filter {
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}

.links-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  opacity: 0.55;
  border-bottom: 1px solid var(--white);
  min-width: 75px;
}

.links-box:hover {
  opacity: 1;
  border-bottom: 2px solid var(--grey);
  transition: all 0.3s;
  cursor: pointer;
}

.links-img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.links-label {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--black);
}

.selected-box {
  opacity: 1;
  border-bottom: 2px solid var(--black);
  cursor: pointer;
}

.selected-label {
  color: var(--black);
  font-weight: 800;
}
